/* Nav Bar and Global */

nav {
  background-color: navy;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

nav a:hover {
  color: lightblue;
}

nav a.active {
  background-color: lightblue;
  color: navy;
  padding: 0.5rem 1rem;
}


h2 {
  margin: 1rem 0 0 2rem;
}

div {
  margin: 0 2rem;
}

/* Home Page */

.home-body {
  display: flex;
  justify-content: space-between;
}

div img {
  width: 200px;
  height: 200px;
  margin-left: 2rem;
}

/* Contact Page */



/* Projects Page */